/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors) */
body {
  background-color: var(--background);
  box-sizing: border-box;
  color: var(--primary);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: start;
  transition: all;
  transition-duration: 0.6s;
}

*:focus {
  box-shadow: 0 0 0 2px var(--divider);
  outline: none;
}

/* Applies to the content */
.content {
  padding: 12px;
}

/* Heading 1 */
h1 {
  font-size: xx-large;
  font-weight: bold;
  margin-block-end: 12px;
  margin-block-start: 32px;
}

/* Heading 2 */
h2 {
  font-size: x-large;
  font-weight: bold;
  margin-block-end: 12px;
  margin-block-start: 24px;
}

/* Heading 3 */
h3 {
  font-size: large;
  font-weight: bold;
  margin-block-end: 12px;
  margin-block-start: 16px;
}

/* Heading 4 */
h4 {
  font-size: medium;
  font-weight: bold;
  margin-block-end: 12px;
  margin-block-start: 8px;
}

/* Links */
a {
  color: var(--accent);
  text-decoration: none;
}

/* Add underline on hover */
a:hover {
  text-decoration: underline;
}

details {
  margin-block-end: 12px;
  margin-block-start: 8px;
}

details h3 {
  margin-inline-start: var(--radius-strong);
  margin-block-end: 0.5em;
}

details h3 a {
  font-weight: 600;
}

details[open] hr.divider {
  display: none;
}

/* Remove details/summary bullet */
summary {
  list-style-type: none;
}

/* Browser specific */
details summary::-webkit-details-marker {
  display: none;
  margin-inline-end: 0;
}

/* Captions */
figcaption {
  box-sizing: content-box;
  color: var(--secondary);
  font-size: small;
  padding: 0 var(--radius) 1em var(--radius);
}

figcaption a {
  color: var(--accent);
}

/* Paragraphs */
p {
  color: var(--primary);
  margin-block-end: 8px;
  margin-block-start: 0;
}

/* Lists */
ul {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 8px;
}

/* Style bullets */
ul li::before {
  color: var(--primary);
  content: "•";
  display: inline-block;
  margin-inline-end: 0.5em;
  margin-inline-start: 0;
}

/* Images */
img {
  background-color: var(--elevated1);
  border: 1px solid var(--quaternary);
  border-radius: var(--radius);
  height: auto;
  width: 100%;
}

/* Videos */
video {
  background-color: var(--elevated1);
  border: 1px solid var(--quaternary);
  border-radius: 8px;
  height: auto;
  width: 100%;
}

/* Buttons */
button {
  background-color: var(--accent);
  border: 0;
  border-radius: var(--radius);
  color: var(--onAccent);
  cursor: pointer;
  font-weight: bold;
  height: 2em;
  padding-inline-end: var(--radius);
  padding-inline-start: var(--radius);
  width: auto;
}

/* Change color on hover */
button:hover {
  background-color: var(--hover-transparent);
}

/* Forms */
input {
  /* Browser specific */
  -moz-appearance: none; 
	-webkit-appearance: none;

  appearance: none;
  background-color: var(--elevated1);
  border: none;
  border-radius: var(--radius);
  color: var(--primary);
  cursor: pointer;
  font-weight: bold;
  height: 2.5em;
  padding-inline-end: var(--radius);
  padding-inline-start: var(--radius);
  max-width: 200px;
}

input[type="number"] {
  max-height: 2.35em;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: var(--radius);
  padding-inline-start: var(--radius);
  width: 3em;
}

/*Submit button */
input[type="submit"] {
  /* Browser specific */
  -moz-appearance: none; 
	-webkit-appearance: none;

  appearance: none;
  background-color: var(--accent);
  border-radius: var(--radius);
  color: var(--onAccent);
  font-weight: bold;
  height: 2em;
  padding-inline-end: var(--radius);
  padding-inline-start: var(--radius);
  width: auto;
}

input[type="submit"]:hover {
  background-color: var(--hover-transparent);
}


label {
  color: var(--color);
  font-size: small;
  font-weight: var(--weight);
  margin-inline-start: var(--radius);
  text-transform: var(--caps);
}

optgroup {
  background-color: var(--elevated2);
  font-weight: bold;
  white-space: normal;
}

option {
  background-color: var(--elevated2);
  border-radius: var(--radius);
  color: var(--primary);
  white-space: normal;
}

select {
  /* Browser specific */
  -moz-appearance: none; 
	-webkit-appearance: none;

  appearance: none;
  background-color: var(--elevated1);
  border: none;
  border-radius: var(--radius);
  color: var(--primary);
  font-weight: bold;
  height: 2em;
  padding-inline-end: var(--radius);
  padding-inline-start: var(--radius);
  width: 200px;
}

/* Dividers */
hr.divider {
  border-color: var(--divider);
  border-style: solid;
  border-width: 1px 0 0 0;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  max-width: 100%;
}