/* Reduced motion */
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

@media only screen and (max-width: 671px) {
  .content {
    margin-inline-start: 0px;
  }

  .sidebar {
    border-bottom: 1px solid var(--divider);
    height: auto;
    width: auto;
  }
}

@media only screen and (min-width: 672px) {
  .content {
    margin-inline-start: 291px;
  }

  .sidebar {
    border-right: 1px solid var(--divider);
    left: 0;
    position: fixed;
    top: 0;
    width: 267px;
  }
}

/* Small screens */
@media only screen and (max-width: 962px) {
  .hstack-wrap {
    grid-template-columns: 100%;
    row-gap: 8px;
  }
}

/* Big screens */
@media only screen and (min-width: 963px) {
  .hstack-wrap {
    grid-auto-flow: column;
    grid-gap: 8px;
    overflow-x: auto;
  }
}