/* Reduced motion */
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition: all 0.001ms;
    transition-duration: 0.001ms !important;
  }
}

/* Really small screens */
@media screen and (max-width: 277px) {
  input[type="submit"] {
    margin-block-start: 4px;
    width: 100%;
  }

  select {
    width: 100%;
  }
}

/* Medium screens */
@media screen and (max-width: 480px) {
  .hstack-wrap {
    grid-template-columns: 100%;
    row-gap: 8px;
  }

  button {
    width: 100%;
  }

  nav {
    background-color: var(--elevated1);
    border-radius: var(--radius-strong);
    margin-block-end: 8px;
    margin-inline-start: calc(0px - var(--radius));
    padding: var(--radius-strong);
    width: calc(100% + 2 * var(--radius-strong));
  }

  nav h1 {
    color: var(--accent);
    font-size: 1em;
    font-weight: bold;
    margin-block-end: 2px;
    margin-block-start: 2px;
  }

  nav > details {
    margin: 0;
  }

  nav .list-link {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

/* Wide screens */
@media screen and (min-width: 481px) {
  .content {
    margin-inline-start: 40%;
    width: 60%
  }

  .hstack-wrap {
    grid-auto-flow: column;
    grid-gap: 8px;
    overflow-x: auto;
  }

  nav {
    background-color: var(--sidebar);
    border-right: 1px solid var(--divider);
    height: 100vh;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 40%;
  }

  nav hr.divider {
    margin-inline-start: calc(0px - var(--radius-strong));
    width: calc(100% + 2 * var(--radius-strong));
  }
}

/* Really wide screens */
@media screen and (min-width: 814px) {
  .content {
    margin-inline-start: 291px;
    width: 40%;
  }

  nav {
    width: 291px;
  }
}

/* That's a bit much */
@media screen and (min-width: 1200px) {
  .content {
    width: 480px;
  }
}