/* Comments */
.comments {
  border: 1px solid var(--divider);
  border-radius: var(--radius-strong);
  height: 397px;
  overflow: hidden;
  width: auto;
}

/* Horizontal stack container (never wrap) */
.hstack-nw {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  max-width: 100%;
  overflow-x: auto;
}

/* Horizontal stack container (wrap on small screens) */
.hstack-wrap {
  display: inline-grid;
  max-width: 100%;
}

/* Control image size on horizontal stacks */
.hstack-nw img {
  max-height: 8em;
  max-width: unset;
}

/* Control video size on horizontal stacks */
.hstack-nw video {
  max-height: 8em;
  max-width: unset;
}

/* Navigation links */
ul li a.nav-link {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: 0;
  border-radius: var(--radius-strong);
  color: var(--primary);
  cursor: pointer;
  height: auto;
  padding: 8px;
  padding-left: calc(8px + 1em);
  padding-inline-end: 4px;
  width: calc(100% - 12px - 1em);
}

nav ul li:before {
  color: var(--accent);
  content: "•";
  padding: 8px;
  position: absolute;
}

ul li a.nav-link:hover {
  background-color: var(--elevated2);
  text-decoration: none;
}

ul li a.nav-link:active {
  background-color: var(--accent);
  text-decoration: none;
}