/* Comments */
.comments {
  border: 1px solid var(--divider);
  border-radius: var(--radius-strong);
  height: 397px;
  overflow: hidden;
  width: auto;
}

/* Horizontal stack container (never wrap) */
.hstack-nw {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  max-width: 100%;
  overflow-x: auto;
}

/* Horizontal stack container (wrap on small screens) */
.hstack-wrap {
  display: inline-grid;
  max-width: 100%;
}

/* Control image size on horizontal stacks */
.hstack-nw img {
  max-height: 8em;
  max-width: unset;
}

/* Control video size on horizontal stacks */
.hstack-nw video {
  max-height: 8em;
  max-width: unset;
}

/* Outline */
.outline {
  background-color: var(--elevated1);
  border-radius: 50%;
  bottom: 0;
  box-shadow: var(--shadow-size);
  height: 32px;
  margin: 12px;
  overflow: hidden;
  overflow-wrap: normal;
  padding: var(--radius-strong);
  position: fixed;
  right: 0;
  width: 32px;
  z-index: 1;
}

.outline h1 {
  color: var(--accent);
  font-size: medium;
  font-weight: bold;
  margin-block-end: 0;
  margin-block-start: 0;
}

/* Outline links */
.outline a {
  color: var(--primary);
  text-decoration: none;
}

/* Outline headings */
.outline h1 {
  margin-inline-start: 0;
  text-align: center;
}

.outline h3 {
  margin-block-start: 0;
  margin-inline-start: 8px;
}

.outline summary {
  margin-block-end: 0;
}

/* Outline lists */
.outline ul {
  padding-inline-start: 0;
}

/* Remove default bullets */
.outline ul li::before {
  display: none;
}

/* Outline links */
.outline-link {
  border: 0;
  border-radius: var(--radius-strong);
  cursor: pointer;
  height: auto;
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 8px;
}

.outline-link a {
  color: var(--primary);
  font-weight: normal;
  margin-block-end: 0;
  margin-block-start: 0;
}

.outline-link:hover {
  background-color: var(--hover);
}

/* Style bullets */
ul li .outline-link a::before {
  color: var(--accent);
  content: "•";
  display: inline-block;
  margin-inline-end: 0.5em;
  margin-inline-start: 0;
}

.sticky-right {
  padding: 12px;
  padding-top: calc(99px - var(--radius-strong));
}