/* Comments */
.comments {
  border: 1px solid var(--divider);
  border-radius: var(--radius-strong);
  height: 397px;
  overflow: hidden;
  width: auto;
}

/* Horizontal stack container (never wrap) */
.hstack-nw {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  max-width: 100%;
  overflow-x: auto;
}

/* Horizontal stack container (wrap on small screens) */
.hstack-wrap {
  display: inline-grid;
  max-width: 100%;
}

/* Control image and video size on horizontal stacks */
.hstack-nw img,
.hstack-nw video {
  max-height: 8em;
  max-width: unset;
}

/* Cards */
details.card {
  background-color: var(--elevated1);
  border-radius: var(--radius-strong);
  margin-block-end: 8px;
  margin-inline-start: calc(0px - var(--radius));
  padding: var(--radius-strong);
  width: calc(100% + 2 * var(--radius-strong));
}

/* Remove padding on figcaption */
details.card figcaption {
  padding: 0;
}

/* Customize h4 */
details.card h4,
nav h4 {
  color: var(--accent);
  font-weight: bold;
  margin-block-end: 2px;
  margin-block-start: 2px;
}

/* Navigation links */
.list-link {
  align-items: center;
  border-radius: var(--radius-strong);
  color: var(--primary);
  display: flex;
  margin-inline-start: calc(0px - var(--radius-strong));
  margin-inline-end: calc(0px - var(--radius-strong));
  padding: 8px;
  transition: color 150ms;
}

.list-link img {
  border-radius: var(--radius-strong);
  height: 48px;
  margin-inline-end: 8px;
  object-fit: cover;
  object-position: center center;
  width: 48px;
}

.list-link figcaption {
  font-size: 1em;
  padding: 0;
}

.list-link p {
  font-weight: bold;
  margin-block-end: 0;
}

.list-link:hover {
  background-color: var(--hover);
  text-decoration: none;
}