/* Material colors */
/* Light mode colors (default) */
  :root {
    /* Background */
    --background: #FAFAFA;
    --elevated1: #FFFFFF;
    --elevated2: #FFFFFF;

    /* Sidebar */
    --sidebar: #FAFAFA;
  
    /* Text */
    --primary: #000000;
    --secondary: #00000099;
    --tertiary: #00000061;
    --quaternary: #00000061;
  
    /* Accent related */
    --accent: #1A73E8;
    --onAccent: #FFFFFF;
  
    /* Dividers */
    --divider: #0000001C;
  
    /* Hover */
    --hover: #0000001A;
    --hover-transparent: #0000001A;

    /* Shadows */
    --shadow: #00000033;
    --shadow-size: 0px 2px 1px -1px var(--shadow), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

    /* Visited links */
    --visited: #881798;

    /* Corner radius */
    --radius: 6px;
    --radius-strong: 8px;
  }