/* Reduced motion */
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

@media only screen and (max-width: 671px) {
  .content {
    margin-inline-start: 0px;
  }

  .sidebar {
    display: none;
  }
}

@media only screen and (min-width: 672px) {
  .content {
    margin-inline-start: 291px;
  }

  .sidebar {
    display: block;
  }
}

/* Wrap hstacks on phone screens */
@media only screen and (max-width: 962px) {
  .hstack-wrap {
    grid-template-columns: 100%;
    row-gap: 8px;
  }

  .hstack-wrap > div img {
    height: auto;
    width: 100%;
  }

  .hstack-wrap > div video {
    height: auto;
    width: 100%;
  }
}

/* Make hstacks fill the screen on tablet screens */
@media only screen and (min-width: 963px) {
  .hstack-wrap {
    grid-auto-flow: column;
    grid-gap: 8px;
    overflow-x: auto;
  }
}