/* Elevated section */
.elevated-section {
  background-color: var(--elevated1);
  border: 0;
  border-radius: 8px;
  min-width: 192px;
  overflow: hidden;
  overflow-wrap: normal;
  padding: 12px;
  transition: background-color, max-height;
  transition-duration: 0.6s;
  text-align: left;
}

.elevated-section figcaption {
  padding: 8px 0 0 0;
}

.elevated-section h4 {
  color: var(--accent);
  margin-block-end: 4px;
  margin-block-start: 0;
}

/* Elevated section (expandable on hover) */
.elevated-section-expandable {
  background-color: var(--elevated1);
  border: 0;
  border-radius: 8px;
  max-height: 1em;
  min-width: 192px;
  overflow: hidden;
  overflow-wrap: normal;
  padding: 8px 8px 12px 8px;
  transition: all;
  transition-duration: 0.6s;
}

.elevated-section-expandable figcaption {
  padding: 0;
}

.elevated-section-expandable h4 {
  color: var(--accent);
  margin-block-end: 0.5em;
  margin-block-start: 0;
  transition: all;
  transition-duration: 0.6s;
}

/* Display contents on hover */
.elevated-section-expandable:hover {
  background-color: var(--elevated2);
  max-height: 100%;
}

/* Horizontal stack container (never wrap) */
.hstack-nw {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  max-width: 100%;
  overflow-x: auto;
}

/* Horizontal stack container (wrap on small screens) */
.hstack-wrap {
  display: inline-grid;
  max-width: 100%;
}

/* Control image size on horizontal stacks */
.hstack-nw img {
  height: 192px;
  width: auto;
}

.hstack-wrap img {
  height: 192px;
  width: auto;
}

/* Control video size on horizontal stacks */
.hstack-nw video {
  height: 192px;
  width: auto;
}

.hstack-wrap video {
  height: 192px;
  width: auto;
}

/* Sidebar */
.sidebar {
  background-color: var(--elevated1);
  border-right: 1px solid var(--divider);
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding: 12px;
  position: fixed;
  top: 0;
  width: 267px;
}

/* Sidebar links */
.sidebar a {
  color: var(--primary);
  text-decoration: none;
}

.sidebar h1 {
  margin-inline-start: 8px;
}

.sidebar h3 {
  font-weight: 600;
  margin-block-end: 0;
  margin-inline-start: 8px;
  margin-block-start: 0;
}

.sidebar summary {
  margin-block-end: 8px;
}

.sidebar ul {
  padding-inline-start: 0;
  margin-block-end: 24px;
}

.sidebar-link {
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  height: 1em;
  margin-block-end: 0;
  margin-block-start: 0;
  max-width: 100%;
  padding: 8px 8px 12px 8px;
}

.sidebar-link a {
  color: var(--primary);
  margin-block-end: 0;
  margin-block-start: 0;
}

.sidebar-link:hover {
  background-color: var(--hover);
}

.sidebar-link:active {
  background-color: var(--accent);
}