/* Elevated section */
.elevated-section {
  background-color: var(--elevated1);
  border: 0;
  border-radius: 6px;
  box-shadow: 0px 2px 1px -1px var(--shadow), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  margin: 2px;
  min-width: 192px;
  overflow: hidden;
  overflow-wrap: normal;
  padding: 8px;
}

/* iOS devices */
.ipad .elevated-section, .iphone .elevated-section, .ipod .elevated-section {
  border-radius: 12px;
  box-shadow: 0px 2px 8px var(--shadow);
  margin: 8px;
  padding: 12px;
}

/* Windows */
.win .elevated-section {
  border-radius: 2px;
  box-shadow: 0 0 6px var(--shadow);
  margin: 6px;
}

/* Remove padding on figcaption */
.elevated-section figcaption {
  padding: 0;
}

/* Customize h4 for elevated sections */
.elevated-section h4 {
  color: var(--accent);
  font-weight: bold;
  margin-block-end: 4px;
  margin-block-start: 0;
}

/* Windows */
.win .elevated-section h4 {
  color: var(--primary);
}

/* Elevated section (fixed size, scrollable) */
.elevated-section-fixed {
  background-color: var(--elevated1);
  border: 0;
  border-radius: 6px;
  box-shadow: 0px 2px 1px -1px var(--shadow), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  margin: 2px;
  max-height: 6em;
  min-width: 192px;
  overflow: auto;
  overflow-wrap: normal;
  padding: 8px;
}

/* iOS devices */
.ipad .elevated-section-fixed, .iphone .elevated-section-fixed, .ipod .elevated-section-fixed {
  border-radius: 12px;
  box-shadow: 0px 2px 8px var(--shadow);
  margin: 8px;
  padding: 12px;
}

/* Windows */
.win .elevated-section-fixed {
  border-radius: 2px;
  box-shadow: 0 0 6px var(--shadow);
  margin: 6px;
}

/* Remove padding on figcaption */
.elevated-section-fixed figcaption {
  padding: 0;
}

/* Customize h4 for elevated sections */
.elevated-section-fixed h4 {
  color: var(--accent);
  font-weight: bold;
  margin-block-end: 4px;
  margin-block-start: 0;
}

.win .elevated-section-fixed h4 {
  color: var(--primary);
}

/* Horizontal stack container (never wrap) */
.hstack-nw {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  max-width: 100%;
  overflow-x: auto;
}

/* Horizontal stack container (wrap on small screens) */
.hstack-wrap {
  display: inline-grid;
  max-width: 100%;
}

/* Control image size on horizontal stacks */
.hstack-nw img {
  height: 192px;
  width: auto;
}

.hstack-wrap img {
  height: 192px;
  width: auto;
}

/* Control video size on horizontal stacks */
.hstack-nw video {
  height: 192px;
  width: auto;
}

.hstack-wrap video {
  height: 192px;
  width: auto;
}

/* Sidebar */
.sidebar {
  background-color: var(--sidebar);
  height: 100%;
  overflow-x: hidden;
  padding: 12px;
}

/* Sidebar links */
.sidebar a {
  color: var(--primary);
  text-decoration: none;
}

/* Sidebar headings */
.sidebar h1 {
  margin-inline-start: 8px;
}

.sidebar h1 a {
  font-weight: bold;
}

.sidebar h3 {
  font-weight: 600;
  margin-block-end: 0;
  margin-inline-start: 8px;
  margin-block-start: 0;
}

/* Sidebar summaries */
.sidebar summary {
  margin-block-end: 8px;
}

/* Sidebar lists */
.sidebar ul {
  padding-inline-start: 0;
  margin-block-end: 16px;
}

/* Remove details/summary bullet */
.sidebar ul li::before {
  display: none;
}

/* Sidebar links */
.sidebar-link {
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  height: 1em;
  margin-block-end: 0;
  margin-block-start: 0;
  max-width: 100%;
  padding: 8px 8px 12px 12px;
}

.sidebar-link a {
  color: var(--primary);
  font-weight: normal;
  margin-block-end: 0;
  margin-block-start: 0;
}

.sidebar-link:hover {
  background-color: var(--hover);
}