/* Light mode colors */
@media (prefers-color-scheme: light) {
  :root {
    /* Background */
    --background: #F3F3F3;
    --elevated1: #FBFBFB;
    --elevated2: #F6F6F6;

    /* Sidebar */
    --sidebar: #F3F3F3;
  
    /* Text */
    --primary: #000000;
    --secondary: #00000099;
    --tertiary: #00000066;
    --quaternary: #00000066;
  
    /* Accent related */
    --accent: #0067C0;
    --onAccent: #FFFFFF;
  
    /* Dividers */
    --divider: #0000001C;
  
    /* Hover */
    --hover: #EAEAEA;
    --hover-accent: #003E92;
  }
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    /* Background */
    --background: #202020;
    --elevated1: #2B2B2B;
    --elevated2: #323232;

    /* Sidebar */
    --sidebar: #202020;
  
    /* Text */
    --primary: #FFFFFF;
    --secondary: #FFFFFF99;
    --tertiary: #FFFFFF66;
    --quaternary: #FFFFFF66;
  
    /* Accent related */
    --accent: #4CC2FF;
    --onAccent: #000000;
  
    /* Dividers */
    --divider: #FFFFFF1C;

    /* Hover */
    --hover: #2D2D2D;
    --hover-accent: #99EBFF;
  }
}

/* General stuff */
:root {
  /* Color schemes */
  color-scheme: light dark;
  
  /* Corner radius */
  --radius: 6px;
  --radius-strong: 8px;

  /* Form labels */
  --caps: none;
  --color: var(--primary);
  --size: medium;
  --weight: bold;

  /* Shadows */
  --shadow: #0000004D;
  --shadow-size: 0 0 6px var(--shadow);
}