/* iOS devices */
/* Light mode colors */
@media (prefers-color-scheme: light) {
  :root {
    /* Background */
    --background: #F6F6F6;
    --elevated1: #FFFFFF;
    --elevated2: #FFFFFF;

    /* Sidebar */
    --sidebar: #F6F6F6D6;
  
    /* Text */
    --primary: #000000D9;
    --secondary: #00000080;
    --tertiary: #00000040;
    --quaternary: #00000020;
  
    /* Accent related */
    --accent: #007AFF;
    --onAccent: #FFFFFF;
  
    /* Dividers */
    --divider: #0000001A;
  
    /* Hover */
    --hover: #D1D1D6;
    --hover-accent: #007AFF;
  }
}
  
/* Dark mode colors (iOS) */
@media (prefers-color-scheme: dark) {
  :root {
    /* Background */
    --background: #1E1E1E;
    --elevated1: #282828;
    --elevated2: #282828;

    /* Sidebar */
    --sidebar: #282828;
  
    /* Text */
    --primary: #FFFFFFD9;
    --secondary: #FFFFFF80;
    --tertiary: #FFFFFF40;
    --quaternary: #FFFFFF20;
  
    /* Accent related */
    --accent: #0A84FF;
    --onAccent: #FFFFFF;
  
    /* Dividers */
    --divider: #FFFFFF1A;
  
    /* Hover */
    --hover: #3A3A3C;
    --hover-accent: #0A84FF;
  }
}

/* General stuff */
:root {
  /* Color schemes */
  color-scheme: light dark;

  /* Corner radius */
  --radius: 5px;
  --radius-strong: 10px;

  /* Form labels */
  --caps: none;
  --color: var(--secondary);
  --size: small;
  --weight: normal;

  /* Shadows */
  --shadow: #0000008C;
  --shadow-size: 0px 0px 3px var(--shadow);
}