/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors) */
body {
  background-color: var(--background);
  color: var(--primary);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: start;
  transition: all;
  transition-duration: 0.6s;
}

:root {
  color-scheme: light dark;
}

/* Applies to the content */
.content {
  padding: 12px;
}

/* Heading 1 */
h1 {
  font-weight: bold;
  margin-block-end: 12px;
  margin-block-start: 32px;
}

/* Heading 2 */
h2 {
  font-size: x-large;
  font-weight: bold;
  margin-block-end: 12px;
  margin-block-start: 24px;
}

/* Heading 3 */
h3 {
  font-size: large;
  font-weight: bold;
  margin-block-end: 12px;
  margin-block-start: 16px;
}

/* Heading 4 */
h4 {
  font-size: medium;
  font-weight: bold;
  margin-block-end: 12px;
  margin-block-start: 8px;
}

/* Links */
a {
  color: var(--accent);
  text-decoration: none;
}

/* Add underline on hover */
a:hover {
  text-decoration: underline;
}

details {
  margin-block-end: 0;
  margin-block-start: 16px;
}

details[open] hr.divider {
  display: none;
}

/* Remove details/summary bullet */
details summary::-webkit-details-marker {
  display: none;
}

/* Captions */
figcaption {
  box-sizing: content-box;
  color: var(--secondary);
  font-size: small;
  padding: 0 var(--radius) 1em var(--radius);
}

figcaption a {
  color: var(--accent);
}

/* Paragraphs */
p {
  color: var(--primary);
  margin-block-end: 8px;
  margin-block-start: 0;
}

/* Lists */
ul {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 8px;
}

/* Style bullets */
ul li::before {
  color: var(--primary);
  content: "•";
  display: inline-block;
  margin-inline-end: 0.5em;
  margin-inline-start: 0;
}

/* Images */
img {
  background-color: var(--elevated1);
  border: 1px solid var(--quaternary);
  border-radius: var(--radius);
}

/* Videos */
video {
  background-color: var(--elevated1);
  border: 1px solid var(--quaternary);
  border-radius: 8px;
  height: auto;
  width: 100%;
}

/* Buttons */
button {
  background-color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: var(--radius);
  color: var(--onAccent);
  font-weight: bold;
  margin: 6px;
  min-height: 36px;
  padding: 8px;
}

/* Change color on hover */
button:hover {
  background-color: var(--hover-transparent);
}

/* Forms */
input {
  appearance: none;
  background-color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: var(--radius);
  color: var(--onAccent);
  font-weight: bold;
  min-height: 36px;
  padding: 8px;
}

optgroup {
  appearance: none;
  background-color: var(--elevated2);
  font-weight: bold;
}

option {
  appearance: none;
  background-color: var(--elevated2);
  border-radius: var(--radius);
  color: var(--primary);
}

option:hover {
  appearance: none;
  background-color: var(--hover);
}

select {
  appearance: none;
  background-color: var(--elevated1);
  border: 1px solid var(--divider);
  border-radius: var(--radius);
  color: var(--primary);
  font-weight: bold;
  min-height: 36px;
  padding: 8px;
  width: 200px;
}

/* Dividers */
hr.divider {
  border-color: var(--divider);
  border-style: solid;
  border-width: 1px 0 0 0;
  max-width: 100%;
}