:root {
  /* Background */
  --background: #F3F3F3;
  --elevated1: #FBFBFB;
  --elevated2: #F6F6F6;

  /* Sidebar */
  --sidebar: #F3F3F3;

  /* Text */
  --primary: #000000;
  --secondary: #00000099;
  --tertiary: #00000066;
  --quaternary: #00000066;

  /* Accent related */
  --accent: #0067C0;
  --onAccent: #FFFFFF;

  /* Dividers */
  --divider: #0000001C;

  /* Hover */
  --hover: #EAEAEA;
  --hover-accent: #003E92;

  /* General stuff */
  /* Color schemes */
  color-scheme: light;

  /* Corner radius */
  --radius: 6px;
  --radius-strong: 8px;

  /* Form labels */
  --caps: none;
  --color: var(--primary);
  --size: medium;
  --weight: bold;

  /* Shadows */
  --shadow: #0000004D;
  --shadow-size: 0 0 6px var(--shadow);
}