:root {
  /* Background */
  --background: #F2F2F7;
  --elevated1: #FFFFFF;
  --elevated2: #F2F2F7;

  /* Sidebar */
  --sidebar: #F2F2F7;
  
  /* Text */
  --primary: #000000;
  --secondary: #3C3C4399;
  --tertiary: #3C3C434D;
  --quaternary: #3C3C432E;
  
  /* Accent related */
  --accent: #007AFF;
  --onAccent: #FFFFFF;
  
  /* Dividers */
  --divider: #3C3C434A;
  
  /* Hover */
  --hover: #D1D1D6;
  --hover-accent: #007AFF;

  /* General stuff */
  /* Color schemes */
  color-scheme: light;
  
  /* Corner radius */
  --radius: 8px;
  --radius-strong: 12px;

  /* Form labels */
  --caps: uppercase;
  --color: var(--secondary);
  --size: small;
  --weight: normal;

  /* Shadows */
  --shadow: #0000004D;
  --shadow-size: 0px 2px 8px var(--shadow);
}