/* Windows */
/* Light mode colors (Windows) */
@media (prefers-color-scheme: light) {
  :root {
    /* Background */
    --background: #F2F2F2;
    --elevated1: #FFFFFF;
    --elevated2: #F2F2F2;

    /* Sidebar */
    --sidebar: #EFEFEF;
  
    /* Text */
    --primary: #000000;
    --secondary: #00000099;
    --tertiary: #00000066;
    --quaternary: #00000066;
  
    /* Accent related */
    --accent: #0065AF;
    --onAccent: #FFFFFF;
  
    /* Dividers */
    --divider: #0000001C;
  
    /* Hover */
    --hover: #D8D8D8;
    --hover-transparent: #0000004D;

    /* Shadows */
    --shadow: #0000004D;

    /* Visited links */
    --visited: #881798;
  }
}

/* Dark mode colors (Windows) */
@media (prefers-color-scheme: dark) {
  :root {
    /* Background */
    --background: #1F1F1F;
    --elevated1: #2B2B2B;
    --elevated2: #333333;

    /* Sidebar */
    --sidebar: #2D2D2D;
  
    /* Text */
    --primary: #FFFFFF;
    --secondary: #FFFFFF99;
    --tertiary: #FFFFFF66;
    --quaternary: #FFFFFF66;
  
    /* Accent related */
    --accent: #0065AF;
    --onAccent: #FFFFFF;
  
    /* Dividers */
    --divider: #FFFFFF1C;
  
    /* Hover */
    --hover: #424242;
    --hover-transparent: #FFFFFF4D;

    /* Visited links */
    --visited: #881798;
  }
}

/* General stuff */
:root {
  /* Corner radius */
  --radius: 6px;
  --radius-strong: 8px;

  /* Form labels */
  --caps: capitalize;
  --color: var(--primary);
  --size: medium;
  --weight: bold;

  /* Shadows */
  --shadow: #0000004D;
  --shadow-size: 0 0 6px var(--shadow);
}