/* Windows */
/* Light mode colors (Windows) */
:root {
  /* Background */
  --background: #F2F2F2;
  --elevated1: #FFFFFF;
  --elevated2: #F2F2F2;

  /* Sidebar */
  --sidebar: #EFEFEF;
  
  /* Text */
  --primary: #000000;
  --secondary: #00000099;
  --tertiary: #00000066;
  --quaternary: #00000066;

  /* Accent related */
  --accent: #0065AF;
  --onAccent: #FFFFFF;
  
  /* Dividers */
  --divider: #0000001C;
  
  /* Hover */
  --hover: #D8D8D8;
  --hover-transparent: #0000004D;

  /* Visited links */
  --visited: #881798;
}

/* General stuff */
:root {
  /* Corner radius */
  --radius: 6px;
  --radius-strong: 8px;

  /* Form labels */
  --caps: capitalize;
  --color: var(--primary);
  --size: medium;
  --weight: bold;

  /* Shadows */
  --shadow: #0000004D;
  --shadow-size: 0 0 6px var(--shadow);
}