:root {
  /* Background */
  --background: #202020;
  --elevated1: #2B2B2B;
  --elevated2: #323232;

  /* Sidebar */
  --sidebar: #202020;

  /* Text */
  --primary: #FFFFFF;
  --secondary: #FFFFFF99;
  --tertiary: #FFFFFF66;
  --quaternary: #FFFFFF66;

  /* Accent related */
  --accent: #4CC2FF;
  --onAccent: #000000;

  /* Dividers */
  --divider: #FFFFFF1C;

  /* Hover */
  --hover: #2D2D2D;
  --hover-accent: #99EBFF;

  /* General stuff */
  /* Color schemes */
  color-scheme: dark;

  /* Corner radius */
  --radius: 6px;
  --radius-strong: 8px;

  /* Form labels */
  --caps: none;
  --color: var(--primary);
  --size: medium;
  --weight: bold;

  /* Shadows */
  --shadow: #0000004D;
  --shadow-size: 0 0 6px var(--shadow);
}